---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h3>ABOUT</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolorum
        exercitationem assumenda totam hic cumque vero maxime nisi fuga in ut
        voluptas suscipit consequatur fugiat, omnis, quidem distinctio aperiam.
        At sit amet consectetur adipisicing elit. Alias perferendis eius rem
        neque iste earum? Debitis dolore, sapiente, voluptatem quibusdam fugiat
        distinctio, adipisci odit ipsum assumenda similique officiis hic non!
    </p>
</Layout>
